<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Admin Login</title>

    <link rel="icon" href="/images/icon.png">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <form th:action="@{/login}" method="post">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="username" name="username">
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="password" name="password">
                    </div>

                    <div class="text-danger">
                        <p th:if="${param.error}">Invalid username and password.</p>
                    </div>

                    <button class="btn btn-primary shadow-2 mb-4" type="submit" value="Sign In">Login</button>
                    <p class="mb-0 text-muted"><a th:href="@{/}">Home</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
