<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>หน้าหลัก</title>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link rel="icon" href="/images/icon.png">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="auth-wrapper">
    <div>
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card mb-5">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-home auth-icon"></i>
                </div>

                <header class="masthead d-flex align-items-center">
                    <div class="container px-4 px-lg-5 text-center">
                        <h1 class="mb-1">&nbsp;&nbsp;&nbsp;&nbsp;ระบบลงทะเบียน&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                        <h3 class="mb-2">เพื่อขอรับ QR code</h3>
                        <h5 class="mb-5"><em>สำหรับใช้ยืนยันตัวตนก่อนเข้าให้อาคาร</em></h5>
                        <a class=" btn btn-outline-success" th:href="@{/addUser}">ลงทะเบียน</a>
                    </div>
                </header>
            </div>
        </div>

        <div class="card">
            <div class="card-body text-center">
                <div class="content-section-heading">
                    <h5>ข้อมูลสถานที่ตอนนี้</h5>
                </div>
                <div class="mb-3 card Recent-Users">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-dark">
                            <tr>
                                <th></th>
                                <th>สถานที่</th>
                                <th>สถานะ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="unread" th:each="building : ${buildings}">
                                <td><i class="feather icon-map-pin auth-icon"></i></td>
                                <td th:text="${building.name}">
                                    <h6 class="mb-1"></h6>
                                </td>
                                <td th:if="${building.danger==0}">
                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i></h6>
                                </td>

                                <td th:if="${building.danger==1}">
                                    <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i></h6>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="container px-4 px-lg-5">
                    <p class="text-muted small "><a class="mb-5" th:href="@{/tbUser}" >for Admin</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Required Js -->
<script src="/js/vendor-all.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/pcoded.min.js"></script>

</body>
</html>
